.NotecardField {
  padding: 0.75rem;
  min-height: 2.0rem;
  overflow: hidden;
}

.NotecardFieldInner {
  display: block;
}

.NotecardTitle .NotecardFieldInner {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.NotecardExpanded {
  overflow: auto;
}

.NotecardExpanded .NotecardFieldInner {
  white-space: pre-wrap;
}

.NotecardExpanded [contenteditable='true']:empty:before {
  color: rgba(180, 180, 180, 0.5);
  content: attr(placeholder);
  display: block;
}