.Notecard {
  background-color: #fff;
  position: relative;
  width: 90%;
  min-height: 450px;
  max-height: 80vh;
  margin: 10.0rem auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 5px #ccc;
  overflow-y: auto;
}

